<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionString>
    <add name="Ediary" connectionString=  "Persist Security Info = False; Data Source = '.DataBase.sdf' + "Password = 'electronicdiary'; File Mode = 'shared read';IntegratedSecurity=True"  />
  </connectionString>
</configuration>